<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Please Log In</title>
</head>
<body>
<h1>Please Log In</h1>
<div th:if="${param.error}">
    Invalid username and password.</div>
<div th:if="${param.logout}">
    You have been logged out.</div>
<form th:action="@{/login}" method="post" th:object="${user}">
    <div>
        <input type="text" name="username" placeholder="Username" th:field="*{username}"/>
    </div>
    <div>
        <input type="text" name="password" placeholder="Password" th:field="*{password}"/>
    </div>
    <button type="submit">Login</button>
</form>
</body>
</html>